@charset "UTF-8";
/* Основной цвет текста */
/*Цвет социльных иконок*/
/* Вторичный цвет текста  */
/* Акцент,цвет кнопок ссылок лого */
/* Цвет кнопок */
/* фон хедера  */
/* фон портфолио */
/* фон команды */
/* фон футера */
/* белый цвет  */
/* цвет контактов футера  */
/*цвет беэкдропа */
.features__title--hidden, .projects__title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hero__btn, .send-btn, .submit-btn {
  border-width: 0;
  border-style: none;
  padding: 0;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
}

.mobile-menu__navigation, .navigation, .thumbnail, .card-list, .icon-box, .filter, .products {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features, .team, .clients, .footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about__title {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.02em;
  background-color: #fff;
  margin: 0 auto;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 480px) and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu-button {
  z-index: 3;
  display: block;
  padding: 0;
  margin: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button:hover,
.menu-button :focus {
  fill: #2196f3;
}

.menu-button__cross {
  display: none;
}

.menu-button--is-open {
  position: fixed;
  top: 10px;
  right: 15px;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button--is-open .menu-button__cross {
  display: block;
}

.menu-button--is-open .menu-button__menu {
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu--is-open {
  display: block;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 83px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mob-menu--container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu--bottom {
  margin-top: auto;
}

.mobile-menu__navigation {
  display: block;
}

@media screen and (min-width: 1140px) {
  .mobile-menu__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover,
.mobile-menu__link :focus {
  color: #2196f3;
}

.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.moblie-contacts__link {
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  text-decoration: none;
  color: #757575;
}

.moblie-contacts__link:first-child {
  margin-bottom: 32px;
}

.moblie-contacts__link:hover,
.moblie-contacts__link :focus {
  color: #2196f3;
}

.moblie-contacts__link--bluecolor {
  color: #2196f3;
}

.moblie-contacts__icon {
  display: none;
}

.moblie-contacts__text {
  font-size: 24px;
  line-height: calc(28 / 24);
}

.mobile-social {
  margin-top: 64px;
}

.mobile-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-social__link:not(:last-child) {
  margin-right: 10px;
}

.mobile-social__link::after {
  content: '';
  width: 2px;
  height: 22px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.logo--header {
  color: #2196f3;
}

.logo--footer {
  color: #fff;
  margin-bottom: 20px;
}

.logo--inverse {
  color: #2196f3;
}

/* Шапка и навигация */
.page-header {
  position: relative;
  min-height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .container--page-header {
    height: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .container--page-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .main-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: calc(16 / 14);
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link :focus {
  color: #2196f3;
}

.navigation__link--current {
  position: relative;
  color: #2196f3;
}

.navigation__link--current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

@media (min-width: 768px) {
  .navigation__item:last-child {
    margin-right: 84px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .navigation__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .contacts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 305px;
  }
}

@media (min-width: 768px) {
  .contacts__icon {
    margin-right: 8px;
    width: 14px;
    height: 10px;
    fill: currentColor;
  }
  .contacts__icon--phone {
    width: 10px;
    height: 14px;
    fill: currentColor;
    margin-right: 8px;
  }
  .contacts__icon:hover {
    fill: #2196f3;
  }
}

@media (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: currentColor;
  }
  .contacts__icon--phone {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
  }
}

.contacts__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  text-decoration: none;
  color: #757575;
}

@media (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

@media (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.contacts__link:hover,
.contacts__link :focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .contacts__link--right-indent {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts__link--right-indent {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mHero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mHero.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mHero@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mHero@2x.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tHero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tHero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tHero@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tHero@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/deskHero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/deskHero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/deskHero@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/deskHero@2x.jpg");
  }
}

.hero__title {
  margin: 0 auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__btn {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn :focus {
  background-color: #f5f4fa;
  color: #212121;
}

@media (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .thumbnail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .thumbnail {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 767px) {
  .thumbnail__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .thumbnail__item {
    margin-right: 30px;
    width: calc(100% / 2 - 30px);
  }
  .thumbnail__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .thumbnail__item:nth-child(even) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .thumbnail__item:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
  .thumbnail__item:nth-child(even) {
    margin-right: 30px;
  }
  .thumbnail__item:last-child {
    margin-right: 0px;
  }
}

.thumbnail__icon {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.thumbnail__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}

@media (min-width: 768px) {
  .thumbnail__title {
    text-align: left;
  }
}

.thumbnail__text {
  margin: 0;
  padding: 0;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

@media (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__title {
  margin: 0;
  padding: 0;
}

.img-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

.img-set__item:not(:last-child) {
  margin-right: 30px;
}

.img-set__thumb {
  position: relative;
  height: 294px;
}

.img-set__desc {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0 auto;
  bottom: 0;
  padding: 27px 82px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background-color: #f5f4fa;
}

@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-size: 28px;
  font-weight: 700;
  line-height: calc(42 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .card-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.card-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (max-width: 767px) {
  .card-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .card-list__item {
    width: 354px;
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .card-list__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .card-list__item:nth-child(even) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .card-list__item {
    width: 270px;
  }
  .card-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .card-list__item:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
}

.card-list__text {
  margin: 0;
  padding: 0;
}

.card-list__meta {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #212121;
}

.card-list__desc {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}

.social-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 24px;
  list-style: none;
}

@media (min-width: 1200px) {
  .social-site {
    margin-bottom: 30px;
  }
}

.social-site__item:not(:first-child) {
  margin-left: 10px;
}

.social-site__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.social-site__link:hover,
.social-site__link :focus {
  color: #fff;
  background-color: #2196f3;
}

.social-site__icon {
  fill: currentColor;
}

.clients {
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: calc(42 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .icon-box {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.icon-box__item {
  width: calc(100% / 2 - 30px);
  margin-right: 30px;
}

.icon-box__item:nth-child(-n + 4) {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .icon-box__item:nth-child(even) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .icon-box__item {
    width: calc(100% / 3 - 30px);
  }
  .icon-box__item:nth-child(3n) {
    margin-right: 0;
  }
  .icon-box__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .icon-box__item:nth-child(-n + 4) {
    margin-bottom: 0px;
  }
  .icon-box__item:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-box__icon {
  fill: currentColor;
}

.icon-box__link {
  display: block;
  height: 92px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1.5px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

@media (min-width: 1200px) {
  .icon-box__link {
    width: 170px;
  }
}

.icon-box__link:hover,
.icon-box__link :focus {
  border: 1.5px solid #2196f3;
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
}

@media (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .container-footer {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .contacts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-right: 70px;
  }
}

.adress {
  text-align: center;
}

@media (min-width: 1200px) {
  .adress {
    text-align: left;
  }
}

.adress__text {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #fff;
}

.adress__link {
  display: block;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  line-height: calc(24 / 14);
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.adress__link:last-child {
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .adress__link:last-child {
    margin-bottom: 0px;
  }
}

.adress__link:last-child:hover,
.adress__link:last-child :focus {
  color: #2196f3;
}

.join-block__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 1200px) {
  .join-block__title {
    margin-bottom: 20px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .join-block {
    margin-right: 93px;
  }
}

.social-site--cleanmargin {
  margin-bottom: 60px;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 1200px) {
  .social-site--cleanmargin {
    margin-bottom: 0;
  }
}

.social-site__link--graybcg {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

@media (min-width: 768px) {
  .subcribe-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .subcribe-block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.subcribe-block__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 1200px) {
  .subcribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-form__email {
  z-index: 1;
  width: 100%;
  height: 51px;
  padding: 16px 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

@media (min-width: 768px) {
  .subscribe-form__email {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscribe-form__email {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscribe-form__email__email:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.send-btn {
  z-index: 1;
  position: relative;
  display: block;
  margin-top: 0;
  margin: 0 auto;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  margin: 0 auto;
}

.send-btn:hover,
.send-btn :focus {
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

.send-btn__text {
  padding-left: 29px;
  padding-right: 62px;
}

.send-btn__icon {
  position: absolute;
  top: 50%;
  left: 148px;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 4;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop--is-hidden {
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90vw;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}

.modal__button:hover,
.modal__button :focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  fill: #2196f3;
}

.modal__icon {
  margin-top: 4px;
  margin-right: 6px;
}

.callback-title {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form {
  margin-left: 40px;
  margin-right: 40px;
  padding: 0px;
  max-width: 448px;
}

.form .form__label {
  display: block;
  position: relative;
}

.form__label:not(:nth-child(4)) {
  margin-bottom: 28px;
}

.form__label:nth-child(4) {
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  height: 40px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
}

.form__text {
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__input:not(:placeholder-shown) + .form__text {
  -webkit-transform: translate(-30px, -38px);
          transform: translate(-30px, -38px);
}

.form__label:focus-within > .form__icon {
  fill: #2196f3;
}

.form__label:focus-within > .form__text {
  -webkit-transform: translate(-30px, -38px);
          transform: translate(-30px, -38px);
  color: #2196f3;
}

.form__label:focus-within > .form__input {
  border-color: #2196f3;
}

.form__input--comments {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__text--comments {
  position: absolute;
  top: -18px;
  left: 0;
  -webkit-transform: none;
          transform: none;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  padding-left: 16px;
}

@media (min-width: 1200px) {
  .checkbox {
    margin-left: 52px;
  }
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -16px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 3px;
}

.checkbox__input:focus + .checkbox__icon {
  outline: 1.5px solid #2196f3;
}

.checkbox__input:focus:checked + .checkbox__icon {
  outline: none;
}

.checkbox__input:checked + .checkbox__icon {
  border-color: #2196f3;
  background-image: url(../images/full-check.svg);
  background-size: contain;
  background-position: center;
  background-color: #2196f3;
  background-origin: border-box;
}

.checkbox__text {
  width: 425px;
  font-size: 12px;
  margin-left: 8px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
  }
}

.checkbox__link {
  color: #2196f3;
}

.submit-btn {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
}

.submit-btn:hover,
.submit-btn :focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.hide {
  display: none;
}

.filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  border-width: 0;
  border-style: none;
  padding: 0;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.filter__btn--all {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  border-radius: 4px;
}

.filter__btn--websites {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  border-radius: 4px;
}

.filter__btn--apps {
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  border-radius: 4px;
}

.filter__btn--desing {
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
  border-radius: 4px;
}

.filter__btn--marketing {
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  border-radius: 4px;
}

.filter__btn:hover,
.filter__btn :focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #fff;
}

@media (min-width: 768px) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
  }
}

.products__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__item:not(:last-child) {
  margin-bottom: 30px;
}

.products__item:hover,
.products__item :focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media (min-width: 768px) {
  .products__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .products__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .products__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
  .products__item:nth-child(2n) {
    margin-right: 30px;
  }
  .products__item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .products__item:nth-child(n + 7) {
    margin-bottom: 0px;
  }
}

.products__link {
  display: block;
  text-decoration: none;
}

.products__title {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}

.products__meta {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}

.products__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media (min-width: 768px) {
  .products__content {
    width: 354px;
  }
  .products__content--bigsize {
    height: 146px;
  }
}

@media (min-width: 1200px) {
  .products__content {
    width: 370px;
  }
  .products__content--bigsize {
    height: 111px;
  }
}

.products__link:hover .overlay__text {
  opacity: 1;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  margin: 0;
  padding: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
}
/*# sourceMappingURL=main.css.map */