.clients {
  @extend %sectiontablet;
  margin: 0 auto;
@include size (desktop)  {
padding-top: 94px;
padding-bottom: 94px;
  
}
  &__title {
   @include reset;
  @extend %title;
  margin-bottom: 30px;
@include size (desktop)  {
    margin-bottom: 50px;
  }
}
}
.icon-box {
  @extend %list;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
 @include size (desktop)  {
flex-wrap: nowrap;
  
}

  &__item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    @include size (pre-tablet) {
       &:nth-child(even){
    margin-right: 0;
  }
    }
 @include size (tablet)  {
    width: calc(100% / 3 - 30px);
    &:nth-child(3n){
    margin-right: 0;
  }
}
@include size (desktop)  {
  &:nth-child(3n){
    margin-right: 30px;
  }
}
}}

.icon-box__icon {
  fill: currentColor;
}
.icon-box__link {
   max-width: 226px;
  @include size (desktop)  {
     width: 170px;}
   height: 92px;
  transition: color 250ms $cubic;

  @include flex-center;
  
  padding-top: 16px;
  padding-bottom: 16px;

  border: 1.5px solid #afb1b8;
  border-radius: 4px;
  color: $social-link-color;
  &:hover,
  :focus {
    border: 1.5px solid $accent;
    color: $accent;
  }
  
}
