.features {
   padding-top: 60px;
  padding-bottom: 60px;
  &__title--hidden {
    @extend %visually-hidden;
  }
@include 1200 {
    padding-top: 94px;
  padding-bottom:0px;
}}

.thumbnail {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
@include 1200 {
  display: flex;
  flex-wrap: nowrap;
}}
.thumbnail__item {
  @include 768 {
    margin-right: 30px;
    width: calc(100% / 2 - 30px);
    &:nth-child(-n + 2){
      margin-bottom: 30px;
    }
  @include 1200 {
    
  &:last-child {
    margin-right: 0px;
    
  }
}}}

.thumbnail__icon {
  height: 120px;
  @include flex-center;
  margin-bottom: 30px;
  background-color: $team-bgc;
}

.thumbnail__title {
  @include reset;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $second-text-color;
}

.thumbnail__text {
  @include reset;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  &:not(:nth-child(4))  {
    margin-bottom: 30px;
  }
}
