.menu-button {
 
  z-index: 3;
  display: inline-flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  :focus {
    fill: $accent;
  }
  &__cross {
    display: none;
  }
  @include size (tablet)  {
    display: none;
  }
}

.menu-button--is-open .menu-button__cross {
  display: block;
  
 
  
}
.menu-button--is-open .menu-button__menu {
  display: none;
}


.mobile-menu {
  display: none;
  &--is-open {
  display: block;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  background: $white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  }
  @include size (tablet)  {
    display: none;
  }
}

.mob-menu--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
 
  
}
.mobile-menu--bottom {
  margin-top: auto;
}
  

.mobile-menu__navigation {
  @extend %list;
  display: block;
  

  @media screen and (min-width: 1140px) {
    display: flex;
    margin-left: 93px;
  }
}
.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-decoration: none;
  color: $second-text-color;
  transition: color 250ms $cubic;

  &:hover,
  :focus {
    color: $accent;
  }
  &--current { 
    color: $accent;
  }
}


.mobile-menu__item {
 &:not(:last-child) {
   margin-bottom: 32px;
  }
}

.moblie-contacts {
  
&__link {
    display: block;
    
    &:first-child {
      margin-bottom: 32px;
    }
    transition: color 250ms $cubic;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    text-decoration: none;
    color: $main-text-color;
    &:hover,
    :focus {
      color: $accent;
    }
    &--bluecolor {
    
      color: $accent;
    }
  }
  &__icon {
    display: none;
  }
  &__text {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.mobile-social {
  margin-top: 64px;
  display: flex;
    align-items: center;
    justify-content: space-between;


  &__link {
  text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: $accent;

    &::after {
     content: '';
    width: 2px;
    height: 22px;
    margin-left: 10px;
    border: 1px solid rgba(33,33,33,0.2);
}
    
   
  }}

