.footer {
 @extend %sectiontablet;
  background-color: $footer-bgc;
 
}
.container-footer {
  @include 1200 {
  display: flex;
  align-items: baseline;
}}

.contacts-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include 1200 { 
    display: flex;
  flex-direction: column;
  align-items: stretch;
     margin-right: 70px;}
}
.adress {
  text-align: center;
   @include 1200 { 
    text-align: left;}
  &__text {
    @include reset;
    margin-bottom: 9px;

    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: $white;
  }
  &__link {
    display: block;
    margin-bottom: 9px;
    transition: color 250ms $cubic;
    font-weight: 400;
    line-height: calc(24 / 14);
    text-decoration: none;
    font-style: normal;
    color: $mail-text;
    &:last-child {
      margin-bottom: 60px;
      @include 1200{
        margin-bottom: 0px;
    }
    &:hover,
    :focus {
      color: $accent;
    }
  }
 
}}

.join-block {
  &__title {
    @include reset;

   
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white;
     @include 1200{ 
       margin-bottom: 20px;
       text-align: left;
  }}
 @include 1200{ 
   margin-right: 93px;
}}

.social-site--cleanmargin {
  margin-bottom: 60px;
  margin-left: 0;
  margin-right: 0;
  @include 1200{
    margin-bottom: 0;
}}
.social-site__link--graybcg {
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;
}
.subcribe-block {
@include 768 {
  display: flex;
  flex-direction: column;
  align-items:center;
}
@include 1200 {
 align-items:flex-start;
}}
.subcribe-block__title {
  @include reset;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white;
}
.subcribe-form {
  @include 1200{
   display: flex;
}}
.subscribe-form__email {
  width: 100%;
  height: 51px;
  padding: 16px 15px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: $footer-bgc;
  @media screen and (min-width:$tablet) {
    width: 450px;
    
  }
  @media screen and (min-width:$desktop){
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;}
  &__email:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.send-btn {
  position: relative;
  @extend %btn;
  display: block;
  margin-top: 0;
  margin: 0 auto;
  transition: box-shadow 250ms $cubic, border 250ms $cubic;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  margin: 0 auto;
  &:hover,
  :focus {
    outline: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__text {
    padding-left: 29px;
    padding-right: 62px;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 148px;
    right: 28px;
    transform: translateY(-50%);
  }
}
