.team {
  @extend %sectiontablet;
  background-color: $team-bgc;
  @include size (desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
  }
  &__title {
    @include titletablet;
    @include reset;
    margin-bottom: 30px;
    
   @include size (desktop) {
     font-size: 36px;
      margin-bottom: 50px;
  }}}


.card-list {
  
  @extend %list;
  @include size (tablet)  {

    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    
 
  }
 @include size (desktop) {

  flex-wrap: nowrap;
  
}}
.card-list__item {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @include size (pre-tablet) {
  &:not(:last-child){
  margin-bottom: 30px;}}
  
  @include size (tablet)  {
    width: 354px;
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 0;
  //  flex-basis: calc(100% / 2 - 30px);
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
  }
@include size (desktop) {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
  &:nth-child(-n + 2){
      margin-bottom: 0px;
    }
}}



.card-list__text {
  @include reset;
 
}
.card-list__meta {
  @include reset;
  margin-bottom: 10px;
 margin-top: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: $second-text-color;    
}

.card-list__desc {
  @include reset;
  text-align: center;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
