%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
%btn {
  border-width: 0;
  border-style: none;
  padding: 0;

  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $white;
  background-color: $accent;
}
@mixin 480 {
@media screen and (min-width: 480px) {
    width: 480px;}}
@mixin 768 {
  

    @media screen and (min-width: 768px) {
      width: 768px;
    }}
@mixin 1200 {
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }}


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin reset {
  margin: 0;
  padding: 0;
}
%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin section {
   
  padding-top: 94px;
  padding-bottom: 94px;
}
  
@mixin sectiontablet {
  padding-top: 60px;
  padding-bottom: 60px;}
%section {
  padding-top: 94px;
  padding-bottom: 94px;
}
%sectiontablet {
  padding-top: 60px;
  padding-bottom: 60px;
}

%title {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-text-color;
}
