%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
%btn {
  border-width: 0;
  border-style: none;
  padding: 0;

  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $white;
  background-color: $accent;
}

 @mixin size ($size) {
  @if $size == mobile {
    @media (min-width: 480px) { @content; }
  }  @else if $size == tablet {
    @media (min-width: 768px) { @content;  }
  } @else if $size == pre-tablet { 
    @media (max-width: 767px) { @content; }
  }
  @else if $size == pre-desktop {
    @media (max-width: 1199px) { @content; }
  }
  @else if $size == desktop {
    @media (min-width: 1200px) { @content; }
  } 
}


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin reset {
  margin: 0;
  padding: 0;
}
%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin section {
   
  padding-top: 94px;
  padding-bottom: 94px;
}
  
@mixin sectiontablet {
  padding-top: 60px;
  padding-bottom: 60px;}
%section {
  padding-top: 94px;
  padding-bottom: 94px;
}
%sectiontablet {
  padding-top: 60px;
  padding-bottom: 60px;
}

%title {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-text-color;
}


@mixin titletablet
{
  font-size: 28px;
  font-weight: 700;
  line-height: calc(42 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-text-color;
}